body {
  background-color: #fff;
  margin: auto;
  width: 840px;
  color: #333;
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.main_body {
  width: 75%;
  height: auto;
  margin: auto;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table {
  text-align: justify;
  text-justify: inter-word;
}

.separators {
  color: #D8D8D8;
}


#flick_title {
  float: left;
  font-weight: 700;
  margin: auto;
}

#flick_options {
  float: right;
  position: relative;
}

#plot {
  position: relative;
  margin: 5px;
  padding-left: 5px;
  text-align: justify;
}

#plot_extras {
  position: relative;
  padding-bottom: 10px;
}

img {
  height:100px;
  width: auto;
}

#poster_index {
  float: left;
  margin:  5px;
  padding-right: 5px;
}

.well {
  height: 100px;
}

.sub_heading {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 5px;
}
.show_heading {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 5px;
  float: left;
}

#user_nav_options {
  float: right;
  position: relative;
}

#user_nav {
  border-bottom: 1px solid;
}

#show_flick {
  padding-top: 15px;
}

hr {
  width: 50%;
  color: #ccc;
  margin-top: 0px;
}

#show_poster {
  float: left;
  position: relative;
  margin-top: 16px;
  margin-right: 5px;
}

div#show_poster img {
  width: 95%;
  height: auto;
}
